@import '../../helpers/variables.scss';

.header {
  background: $todo-bcg-color;
  margin:  0 40px;
  position: relative;
  box-shadow: 0 2px 4px 0 #00000033,
    0 25px 50px 0 #0000001a;

  &_input {
    font-size: 24px;
    width: 84%;
    padding: 15px 0px 15px 15px;
    line-height: 1.7;
    outline: none;
    border: none;
    background-color: $todo-bcg-color;
    color: #fff;
    caret-color: #fff;
  }

  &_input::placeholder {
    font-style: italic;
    font-weight: 300;
    color: #b3b3b3;
    position: relative;
    text-align: left;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    box-sizing: border-box;
    border: none;
    background-color: $todo-bcg-color;
    outline: none;
  }

  &_input:focus {
    font-size: 24px;
  }
}

.todoapp_title {
  font-size: 36px;
  margin: 50px 0px 40px;
  text-align: center;
  color: rgb(49, 49, 49);
  padding: 20px 0px;
}

form {
  text-align: right;
}

.footer {
  color: #fff;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px #00000033,
      0 8px 0 -3px #7e7e7e,
      0 9px 1px -3px #f7f7f733,
      0 16px 0 -6px #7e7e7e,
      0 17px 2px -6px #ffffff33;
  }
}

.todo-count {
  float: left;
  text-align: left;
  font-weight: 300;
}


.clear-completed {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
  

  &:active {
    text-decoration: none;
  }
}


@media (max-width: 500px) {
  .footer {
    height: 50px;
  }
}